#resultado{
    background-color: #666;
    color: #eee;
    padding: 9px;
}
button{
    margin: 2px 0px;
    padding: 15px 24px;
    font-size: 20px;
}
.calculadora{
    background-color:#ededed;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}
.teclas{
    display: flex;
}
.pantalla{
    padding: 18px 18px 0px 18px;
}
.operaciones{
    padding: 18px 18px 18px 9px;
}
.operaciones button{
    display: block;
    height: 54px;
    width: 54px;
    background-color: rgba(30, 60, 160, 0.12);
    border: none;
}
.numeros{
    padding: 18px 9px 18px 18px;
}
.numeros button{
    border: 0;
    background-color: #fff;
}
.numeros div{
    text-align: center;
}
.numeros button:hover{
    box-shadow: 0px 0px 12px #aaa;
}